<div class="status-web">
  <h1>Status</h1>
  <table>
    <tr>
      <td>
        <h3>Current Time</h3>
      </td>
      <td>
        <p class="colon">:: {{ currentTime }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>User Agent</h3>
      </td>
      <td>
        <p class="colon">:: {{ userAgent }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Languages</h3>
      </td>
      <td>
        <p class="colon">:: {{ langugages }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Is Cookie Enagled</h3>
      </td>
      <td>
        <p class="colon">:: {{ cookied }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Logical Processors</h3>
      </td>
      <td>
        <p class="colon">:: {{ processors }}</p>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Max Touch Points</h3>
      </td>
      <td>
        <p class="colon">:: {{ touchPoint }}</p>
      </td>
    </tr>
  </table>
</div>
