<div class="my-profile">
  <h1>My Profile</h1>

  <h2>Basic Information</h2>

  <ul>
    <li><b>Name</b>: Kritsana Khamfu</li>
    <li><b>Gender</b>: Male</li>
    <li><b>Age</b>: 21</li>
  </ul>

  <h2>Autobiography</h2>

  <p>
    My Nickname is Art, I was born in Chiang Mai and my brithday is 9 Auguest
    2002
  </p>

  <h2>GitHub Pages</h2>
  <nav>
    <a
      href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-artAFF/"
      routerLinkActive="st-active"
      >Lab02</a
    >
    <a routerLink="#" routerLinkActive="st-active">Lab03</a>
    <a routerLink="#" routerLinkActive="st-active">Lab04</a>
  </nav>
</div>
