a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 8px;
  margin-right: 20px;
  padding: 12px 10px;
}
a.st-active {
  background-color: silver;
}

.header-bar,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
