<div class="my-friend">
  <h1>Friend</h1>
  <br />

  <h2>My friend list</h2>
  <table>
    <tr>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Nick-name</th>
      <th>Github pages</th>
    </tr>
    <tr>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>
        <a routerLink="#" routerLinkActive="st-active">Lab02</a>
        <a routerLink="#" routerLinkActive="st-active">Lab03</a>
        <a routerLink="#" routerLinkActive="st-active">Lab04</a>
      </td>
    </tr>
    <tr>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>
        <a routerLink="#" routerLinkActive="st-active">Lab02</a>
        <a routerLink="#" routerLinkActive="st-active">Lab03</a>
        <a routerLink="#" routerLinkActive="st-active">Lab04</a>
      </td>
    </tr>
  </table>
</div>
