a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 4px;
  margin-right: 20px;
}
a.st-active {
  background-color: silver;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 4px;
}

.my-friend {
  margin-right: 100px;
  padding: 50px;
}
