<div class="my-friend">
  <h1>Friend</h1>
  <br />

  <h2>My friend list</h2>
  <table>
    <tr>
      <th>First-name</th>
      <th>Last-name</th>
      <th>Nick-name</th>
      <th>Github pages</th>
    </tr>
    <tr>
      <td>A1</td>
      <td>B1</td>
      <td>C1</td>
      <td>
        <a
          href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-artAFF/"
          routerLinkActive="st-active"
          >Lab02</a
        >
        <a
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-artAFF/"
          routerLinkActive="st-active"
          >Lab03</a
        >
        <a routerLink="#" routerLinkActive="st-active">Lab04</a>
      </td>
    </tr>
    <tr>
      <td>A2</td>
      <td>B2</td>
      <td>C2</td>
      <td>
        <a
          href="https://camt-mmit.github.io/2023_01-954447-001-lab-02-dom-and-javascript-artAFF/"
          routerLinkActive="st-active"
          >Lab02</a
        >
        <a
          href="https://camt-mmit.github.io/2023-01-954447-001-lab-03-introduction-to-typescript-artAFF/"
          routerLinkActive="st-active"
          >Lab03</a
        >
        <a routerLink="#" routerLinkActive="st-active">Lab04</a>
      </td>
    </tr>
  </table>
</div>
